@import './mixin';
.rating_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 205;
  padding-top: 1.95rem;
  background-color: #f2f2f2;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.add-detail {
  @include fj(space-between);
  padding: .5rem;
  background: #fff;
  input {
    display: block;
    width: 11.8rem;
    padding: .4rem;
    border: 1px solid #ddd;
    @include borderRadius(5px);
    background: #f2f2f2;
    font-size: .6rem;
  }
  button {
    display: block;
    width: 3rem;
    @include borderRadius(5px);
    background: #3199e8;
    @include sc(.7rem, #fff);
  }
}

.warnpart {
  padding: .2rem 0;
  text-align: center;
  background: #FFF6E4;
  @include sc(.62rem, #FF883F);
}

.point {
  // @include center;
  width: 100%;
  p {
    margin-bottom: .4rem;
    width: 100%;
    text-align: center;
    @include sc(.7rem, #969696);
  }
}

.poisearch-container {
  background: #f2f2f2;
  li {
    border-bottom: 1px solid #ccc;
    padding: .4rem;
    p {
      @include sc(.65rem, #969696);
    }
    p:first-child {
      margin-bottom: .2rem;
    }
  }
  li:last-child {
    border: 0;
  }
}
