@import "./mixin";
.rating_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 202;
  padding-top: 1.95rem;
  background-color: #f2f2f2;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.edit {
  @include ct;
  right: 0.4rem;
  @include sc(0.7rem, #fff);
}

.address {
  margin-top: 0.4rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  .addresslist {
    background: #fff;
    li {
      border-bottom: 1px solid #d9d9d9;
      padding: 0.4rem;
      @include fj(space-between);
      p {
        line-height: 0.9rem;
        @include sc(0.6rem, #333);
        span {
          display: inline-block;
          @include sc(0.6rem, #333);
        }
      }
      .deletesite {
        display: flex;
        align-items: center;
        span {
          display: block;
          @include sc(0.8rem, #999);
        }
      }
    }
    li:nth-of-type(1) {
      background: #fff8c3;
    }
  }
  .addsite {
    margin-top: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-top: 1px solid #d9d9d9;
    @include fj(space-between);
    background: #fff;
    span {
      display: block;
      line-height: 1.4rem;
      @include sc(0.7rem, #333);
    }
    .addsvg {
      @include wh(0.66667rem, 1.4rem);
      svg {
        @include wh(100%, 100%);
      }
    }
  }
}

.router-slid-enter-active,
.router-slid-leave-active {
  transition: all 0.4s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}
