@import './mixin.scss';
.city_container {
  padding-top: 2.35rem;
  .change_city {
    right: 0.4rem;
    @include ct;
    @include sc(.6rem, $fc)
  }
  .city_form {
    padding-top: .4rem;
    border-top: 1px solid $bc;
    border-bottom: 1px solid $bc;
    background-color: $fc;
    div {
      margin: 0 auto;
      width: 90%;
      text-align: center;
      .input_style {
        margin-bottom: .4rem;
        border-radius: .1rem;
        @include wh(100%, 1.4rem);
      }
      .city_input {
        padding: 0 .3rem;
        border: 1px solid $bc;
        @include sc(.65rem, #333);
      }
      .city_submit {
        background-color: $blue;
        @include sc(.65rem, $fc)
      }
    }
  }
  .pois_search_history {
    padding-left: .5rem;
    border-top: 1px solid $bc;
    border-bottom: 1px solid $bc;
    @include font(.475rem, .8rem);
  }
  .getpois_ul {
    border-top: 1px solid $bc;
    background-color: $fc;
    li {
      margin: 0 auto;
      padding-top: .65rem;
      border-bottom: 1px solid $bc;
      .pois_name {
        margin: 0 auto .35rem;
        width: 90%;
        @include sc(.65rem, #333);
      }
      .pois_address {
        margin: 0 auto .55rem;
        width: 90%;
        @include sc(.45rem, #999);
      }
    }
  }
  .search_none_place {
    margin: 0 auto;
    @include font(.65rem, 1.75rem);
    text-indent: .5rem;
    background-color: $fc;
    color: #333;
  }
  .clear_all_history {
    text-align: center;
    line-height: 2rem;
    @include sc(.7rem, #666);
    background-color: $fc;
  }
}