@import './mixin';
.rating_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding-top: 1.95rem;
  background-color: #fff;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.header_img {
  position: relative;
  .food_img {
    display: block;
    width: 100%;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(100%, 100%);
  }
}

.description {
  bottom: .2rem;
  padding: 0 .4rem;
  margin-top: .5rem;
  line-height: .8rem;
  @include sc(.6rem, #666);
}

.detail_container {
  @include fj;
  padding: .5rem;
  align-items: center;
  .detail_left {
    p:nth-of-type(1) {
      margin-bottom: .2rem;
      @include sc(.7rem, #333);
    }
    .rating_sale {
      display: flex;
      align-items: center;
      span:nth-of-type(1) {
        @include sc(.6rem, #666);
        margin-right: .2rem;
      }
      span:nth-of-type(2) {
        @include sc(.55rem, #f60);
        margin-left: .2rem;
      }
      span:nth-of-type(3) {
        @include sc(.6rem, #666);
        margin-left: .4rem;
      }
    }
    p:nth-of-type(2) {
      margin-top: .3rem;
      font-size: 0;
      span:nth-of-type(1) {
        margin-right: .4rem;
        @include sc(.6rem, #666);
      }
      span:nth-of-type(2),
      span:nth-of-type(3) {
        margin-right: .2rem;
        @include sc(.6rem, #f60);
      }
    }
    p:nth-of-type(3) {
      span {
        @include sc(.6rem, #666);
      }
    }
  }
}
