@import '../../style/mixin';
    .head_top{
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        @include wh(100%, 1.95rem);
        background-color: $blue;
        .head_goback{
            left: 0.4rem;
            margin-left: .4rem;
            @include wh(0.6rem, 1rem);
            line-height: 2.2rem;
        }
        .head_login{
            @include ct;
            right: 0.55rem;
            @include sc(0.65rem, $fc);
            .login_span{
                color: $fc;
            }
            .user_avatar{
                @include wh(.8rem, .8rem);
                fill: $fc;
            }
        }
        .title_head{
            width: 50%;
            @include ctl;
            text-align: center;
            color: $fc;
            .title_text{
                text-align: center;
                font-weight: bold;
                @include sc(0.8rem, $fc);
            }
        }
    }
    