@import './mixin.scss';
.head_logo {
    @include ct;
    left: .4rem;
    height: 1rem;
    @include sc(.7rem, $fc);
    font-weight: 400;
}
.city_nav {
    padding-top: 2.35rem;
    margin-bottom: .4rem;
    border-top: 1px solid $bc;
    .city_tip {
        @include fj;
        padding: 0 .45rem;
        line-height: 1.45rem;
        span:nth-of-type(1) {
            @include sc(.55rem, #666);
        }
        span:nth-of-type(2) {
            @include sc(.475rem, #9f9f9f);
            font-weight: 900;
        }
    }
    .guess_city {
        @include fj;
        padding: 0 .45rem;
        border-top: 1px solid $bc;
        border-bottom: 2px solid $bc;
        height: 1.8rem;
        @include font(0.75rem, 1.8rem);
        span:nth-of-type(1) {
            color:$blue;
        }
        .arrow_right {
            @include wh(.6rem, 1.6rem);
            fill: #999;
        }
    }
}
.hot_city_container {
    margin-bottom: .4rem;
    background-color: $fc;
}
.citylistul {
    li {
      float: left;
      border-bottom: .025rem solid $bc;
      border-right: .025rem solid $bc;
      @include wh (25%, 1.75rem);
      @include font(.6rem, 1.75rem);
      text-align: center;
      color: $blue; 
    }
    li:nth-of-type(4n){
        border-right: none;
    }
}
.city_title {
    border-top: 2px solid $bc;
    border-bottom: 1px solid $bc;
    @include font(0.55rem, 1.45rem, "Helvetica Neue");
    text-indent: 0.45rem;
    color: #666;
        font-weight: 400;
}
.letter_classify_li{
    margin-bottom: 0.4rem;
    border-bottom: 1px solid $bc;
    background-color: $fc;
    .groupcity_name_container{
        li{
            color: #666;
        }
    }
}