@import './mixin';
.page_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 202;
  padding-top: 1.95rem;
  background-color: #fff;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.invoice_contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 5rem;
    @include wh(8rem, 5rem);
  }
  p {
    margin-top: .8rem;
    @include sc(.6rem, #999);
  }
}
