@import './mixin.scss';
@keyframes load {
    0%   {transform: scale(0px)}
    50%  {transform: scale(-50px)}
    100% {transform: scale(0px)}
};
@keyframes ellipse {
    0%   {transform: scale(1)}
    50%  {transform: scale(0.3)}
    100% {transform: scale(1)}
}
.loading_container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: transtion(-50%, -50%);
    @include wh(2.5rem, 2.5rem);
    .load_img {
        position: relative;
        z-index: 11;
        background: url(../images/icon_loading.png) no-repeat 0 0;
        background-size: 2.5rem auto;
        transform: translateY(0px);
        animation: load .6s infinite ease-in-out;
    }
    .load_ellipse {
        position: absolute;
        left: .2rem;
        top: .2rem;
        z-index: 10;
        @include wh(2.6rem, 2rem);
        animation: ellipse .6s infinite ease-in-out;
    }
}
