@import '../../style/mixin';
	.rating_container{
        position: relative;
        top: .2rem;
        @include wh(2rem, .4rem);
        .star_overflow{
            position: relative;
            overflow: hidden;
            height: 100%;
        }
        .star_container{
            position: absolute;
            left: -0.02rem;
            top: -0.02rem;
            display: flex;
            width: 2rem;
            height: 0.4rem;
            .grey_fill{
                fill: #d1d1d1;
            }
            .orange_fill{
                fill: #ff9a0d;
            }
        }
    }