@import './mixin';
.safe_shop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  padding-top: 1.95rem;
  background-color: #ebebeb;
}

.scroll_container {
  @include wh(100%, 100%);
}

ul {
  margin-left: 1rem;
  padding: .4rem 0;
  li {
    margin-bottom: .4rem;
    p {
      line-height: 1rem;
    }
    p:nth-of-type(1) {
      @include sc(.55rem, #333);
    }
    p:nth-of-type(2) {
      @include sc(.5rem, #999);
    }
  }
}

.shop_status_container {
  margin-bottom: .4rem;
  background-color: #fff;
  header {
    line-height: 1.8rem;
    padding: 0 .6rem;
    border-bottom: 0.025rem solid #f1f1f1;
    @include sc(.75rem, #333);
  }
  .shop_statu_detail {
    display: flex;
    padding: .6rem;
    svg {
      @include wh(2rem, 2rem);
      margin-right: .6rem;
    }
    .check_date {
      span {
        @include sc(.55rem, #666);
      }
      .shop_status_well {
        color: rgb(126, 211, 33);
      }
      .shop_status_bad {
        color: red;
      }
    }
  }
}

.license_img {
  padding: .6rem;
  padding-bottom: 8rem;
  background-color: #fff;
  .img_container {
    background-color: #ebebeb;
    img {
      width: 40%;
      height: auto;
      margin: .4rem;
      vertical-align: middle;
    }
  }
}
