@import './mixin';
.rating_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 202;
  padding-top: 1.95rem;
  background: #f2f2f2;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.setname {
  margin: 0 auto;
  width: 15.2rem;
  .setname-top {
    padding-top: .4rem;
    input {
      display: block;
      padding: .2rem .1rem;
      width: 15.2rem;
      border: 1px solid #ddd;
      @include borderRadius(2px);
      line-height: 1.2rem;
      background: none;
      font-size: .7rem;
    }
    .setname-input {
      border-color: #ea3106;
    }
    p {
      width: 100%;
      padding: .4rem 0 1rem;
      @include sc(.4rem, #666);
    }
    .unlikep {
      padding-top: .1rem;
      @include sc(.58rem, #ea3106);
    }
  }
  .reset {
    width: 100%;
    background: #3199e8;
    button {
      display: block;
      width: 100%;
      background: none;
      line-height: 2rem;
      @include sc(.7rem, #fff);
      opacity: .6;
      transition: all 1s;
    }
    .fontopacity {
      transition: all 1s;
      opacity: 1;
    }
  }
}
