@import "./mixin";
.rating_page {
  padding-top: 1.95rem;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.buy_for {
  padding-left: 0.7rem;
  line-height: 2rem;
  @include sc(0.6rem, #666);
  span {
    font-weight: bold;
  }
}

.vip_prerogative {
  padding-left: 0.7rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  .vip_detail {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding: 0.8rem 0;
    .vip_detail_left {
      margin-right: 0.6rem;
      img {
        @include wh(1.6rem, 1.8rem);
      }
    }
    .vip_detail_right {
      h4 {
        @include sc(0.7rem, #333);
        font-weight: normal;
      }
      p {
        @include sc(0.5rem, #999);
      }
    }
  }
}

.apply_vip {
  background-color: #fff;
  padding-left: 0.7rem;
  margin-bottom: 0.5rem;
  .apply_vip_buy {
    @include fj;
    align-items: center;
    padding-right: 0.7rem;
    font-size: 0.7rem;
    line-height: 2.6rem;
    .apply_vip_buy_left {
      span:nth-of-type(2) {
        font-weight: bold;
        color: #f60;
      }
    }
    .apply_vip_buy_right {
      border: 0.025rem solid #f60;
      border-radius: 0.2rem;
      line-height: 1.2rem;
      height: 1.2rem;
      width: 2.6rem;
      text-align: center;
      @include sc(0.6rem, #f60);
    }
  }
}

.header_style {
  @include fj;
  background-color: #fff;
  line-height: 2rem;
  border-bottom: 1px solid #f5f5f5;
  padding-right: 0.7rem;
  .header_left {
    @include sc(0.7rem, #333);
  }
  .header_right {
    display: flex;
    align-items: center;
    span {
      @include sc(0.6rem, #999);
      margin-right: 0.2rem;
    }
    svg {
      @include wh(0.5rem, 0.5rem);
    }
  }
}

.common_style {
  padding: 0 0.7rem;
  margin-bottom: 0.5rem;
}

.router-slid-enter-active,
.router-slid-leave-active {
  transition: all 0.4s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}
