@import './mixin';
.page_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 202;
  padding-top: 1.95rem;
  padding: 2rem .7rem 0;
  overflow-y: auto;
  color: #999;
  font-size: .6rem;
  background-color: #fff;
  p,
  span {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  margin-top: 0.666667rem;
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: #333;
}

.markdown ul {
  li {
    color: #666;
    margin-bottom: .2rem;
  }
}
